.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4.3vw;
    justify-content: space-between;
    background-color: #6C63FF;
}

#left{
    font-size: 2vw;
    font-family: 700;
    color:white;
    margin-left: 2vw;
}

#right li{
    margin-right:3vw;
    list-style-type: none;
    color: white;
}